@import url('https://fonts.cdnfonts.com/css/im-fell-english-sc');
/*font-family: 'IM FELL English SC', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400;500&display=swap');
/*font-family: 'Ysabeau Infant', sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
/*GENERAL*/
/*headers*/
.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'IM FELL English SC', sans-serif;
}
/*navegador*/
.contenedor_nav{
    display: flex;
    justify-content: center;
}
.contenedor_nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    padding: 10px;
    font-size: 30px;

}
.contenedor_nav ul li{
    transition: all 0.2s;
    
}
.contenedor_nav li:hover{
    transform: scale(1.2);
}
.contenedor_nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
.contenedor_nav ul li .pag_actual{
    transition: all 0.2s;
}
.contenedor_nav ul li .pag_actual:hover{
    color: red;
}
.logodyd{
    width: 100px;
    background-color: black;
    padding: 5px;
}
.banner {
    width: 100%;
}
.banner img{
    width: 100%;
    line-height:0;
}
/*main*/
.cuerpo{
    font-family: 'Ysabeau Infant', sans-serif;
}
/*footer*/
.pie{
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-center;
    gap: 20rem;
    align-items: center;
}
.redes{
    margin-top: 5rem;
    color: white;
    display: flex;
    flex-wrap:  wrap;
    gap: 5rem;
}
.redes h2, .redes a{
    transition: all 0.2s;
    font-size: 50px;
    text-decoration: none;
    color: white;
}
.redes h2:hover, .redes a:hover{
    transform: scale(1.1);
}
.img_footer{
   width: 100%;
}
.img_footer img{
    width: 100%;
}
/*PAGS*/
/*index*/
/*nav*/
.body_index{
    background: black;
}
.nav_index ul{
    background-color: black;
}
.nav_index ul li a{
    color: darkred;
}
/*main*/
.bienvenida{
    background-color: black;
    color: darkred;
    font-size: 45px;
    text-align: center;
    z-index: 1;
    justify-self: flex-end;
}
.bienvenida h1{
    transition: all 0.2s;
}
.bienvenida h1:hover{
    transform: scale(1.02);
    color: red;
}
.bienvenida h2{
    font-size: 35px;
}
.introduccion{
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5px;
}
.introduccion div{
    width: 80%;
    padding: 5px;
}
.introduccion h2{
    text-align: center;
}
.introduccion h3{
    font-size: 35px;
    padding: 0 10px;
}
.introduccion p{
    text-align: justify;
    padding: 1rem 10px;
}
.como_jugar{
    width: 100%;
    padding: 7px;
    color: white;
    font-size: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 45px;
}
.jugar_instrucciones{
    width: 100%;
    display: flex;
    font-size: 20px;
    gap: 25px;
    justify-content: center;
    text-align: justify;
    padding: 10px;
    flex-wrap: wrap;
}
.instrucciones{
    width: 33%;
    border: 2px solid darkred;
    padding: 10px 20px;
    transition: all 0.2s;
}
.instrucciones:hover{
    transform: scale(1.02);
    background: rgba(139, 0, 0, 0.863) ;
}
.instrucciones h3{
    text-align: center;
}
/*footer*/
.pie_index{
    background-image: linear-gradient(to top, darkred 0%, black 100%);
}

.redes_index h2:hover, .redes_index a:hover{
    color: darkred;
}

/*RAZAS*/

/*nav*/
.nav_razas ul{
    background-color: #000000;
}
.nav_razas ul li a{
    color:rgb(114, 97, 0);
}
/*main*/
.body_razas{
    background-image: linear-gradient(to top, #1a1b12 0%, #3c3f40 100%) ;
}
.cuerpo_razas{
   background-image: linear-gradient(to top, #1a1b12 0%, #3c3f40 100%);
   display: flex;
   flex-flow: column wrap;
   gap: 8rem;
} 
.box_razas{
    width: 100%;
    padding-left: 10px;
    color: rgb(189, 180, 132);
    display:flex;
    gap: 2rem;
    flex-flow: column wrap;
}
.box_razas h2{
    text-align: center;
    padding: 10px;
    font-size: 35px;

} 
.info_razas{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}
.info_razas h1{
    font-size: 45px;
    text-align: center;
}
.info_parrafo{
    width: 90%;
    align-self: center;
    font-size: 25px;
    padding: 15px;
}
.info_parrafo p{
    margin-bottom: 20px;
}
.razas{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;

}
.texto_razas{
    width: 70%;
    text-align: justify;
    font-size: 25px;
}
.img_clases img{
    transition: all 0.2s;
}
.img_clases img:hover{
    transform: scale(1.1);
}
.img_humano{
    width: 420px;
}
/*footer*/
.pie_razas{
    background-image: linear-gradient(to top, rgb(114, 97, 0) 0%, #1a1b12 100%);
    margin-top: 0;
}
.redes_razas{
    margin-top: 119px;
}
.redes_razas h2:hover, .redes_razas a:hover{
    color: rgb(114, 97, 0);
}

/*CLASES*/
/*nav*/
.nav_clases ul, .nav_clases .logodyd{
    background-color: #1e1f1a;
}
.nav_clases ul li a{
    color: rgb(172, 160, 184);
}
/*main*/
.body_clases{
    background: #1e1f1a ;
}
.cuerpo_clases{
    background-image: linear-gradient(to top, rgb(75, 61, 90) 0%, #1e1f1a 100% );
    display: flex;
    flex-flow: column wrap;
    gap: 5rem;
}
.info_clases h1{
    font-size: 45px;
    text-align: center;
}
.box_clases{
    color: white;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    color: rgb(172, 160, 184);
}
.box_clases h2{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    transition: all 0.2s;
    text-decoration: underline;
}
.box_clases h2:hover{
    transform: scale(1.2);
}
.clase{
    display: flex;
    justify-content: space-evenly;    
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;    
    gap: 5px;
}
.imagen{
    padding-left: 1rem;
    height: 500px;
    width: 300px;
}
.imagen img{
    height: 100%;
    width: 100%;
    box-shadow: -4px 4px 5px black;
    transition: all 0.2s;
}
.imagen img:hover{
    transform: scale(1.02);
}
.texto_clase{
    width: 900px;
    font-size: 1.5rem;
    padding: 2rem;
    text-align: justify;
}
.logo{
    padding-right: 1.5rem;
    transition: all 0.2s;
}
.logo :hover{
    transform: scale(1.02);
}
.logo img{
    border-radius: 90px;
    height: 270px;
    box-shadow: 2px 2px 5px white;
}
/*footer*/
.pie_clases{
    background-image: linear-gradient(to top, rgb(172, 160, 184) 0%, rgb(75, 61, 90) 100%);
    margin-top: 0;
}
.redes_clases{
    margin-top: 119px;
}
.redes_clases h2:hover, .redes_clases a:hover{
    color: rgb(172, 160, 184);
}


/*media queries*/
@media (max-width:980px){
    /*headers*/
    .bienvenida{
        font-size: 30px
    }
    /*navegador*/
    .contenedor_nav ul{
        gap: 15px;
    }
    .contenedor_nav ul li{
        font-size: 20px;
        padding-left: 5px;
    }
    .contenedor_nav ul li .pag_actual{
        font-size: 25px;
    }
    .logodyd{
        width: 50px;
    }
    
    /*index*/
    /*razas*/
    /*clases*/
}
@media (max-width:730px){
    /*headers*/
    .bienvenida{
        font-size: 25px
    }
    /*navegador*/
    .contenedor_nav ul{
        gap: 5px;
    }
    .contenedor_nav ul li{
        font-size: 17px;
    }
    .contenedor_nav ul li .pag_actual{
        font-size: 20px;
    }


}
@media (max-width:600px){
    .contenedor_nav ul{
        flex-direction: row;
        align-items: center;
        gap: 2px;
        padding-left: 2px;
    }
    .contenedor_nav ul li{
        font-size: 1rem;
    }
    .contenedor_nav ul li .pag_actual{
        font-size: 18px;
    }
    .logodyd{
        width: 40px;
    }
}